/* .App { */
  /* text-align: center; */
/* } */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App {
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;

}

.App #header img {
  border-radius: 20%;
  opacity: 0.25;
  /* filter: alpha(opacity=50); */
  z-index: -1000;
  position: absolute;
  max-width: 100%;
  width: 100%;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


h1{
  color: black;
  font-size: 50px;
  margin: 0 auto;
  width: 850px;
  text-align: center;
}

h5{
  margin: 5px;
  /* padding: -5px; */
}
h4{
  padding-bottom: 10px;
  font-size: 24px;
  text-decoration: underline;
}
h3{
  font-size: 30px;
}
p{
  font-size: 20px;
  padding-bottom: 15px;
  color: rgb(0, 0, 0);
}
a:link {
  text-decoration: none;
  color: #35474d;
}
a:visited {
  text-decoration: underline;
  color: #2a3e44;
}
a:hover {
  text-decoration: underline ;
  color: #548596;
}
a:active {
  text-decoration: underline;
  color: #548596;
}


.content{
  text-align: center;
}

/* Container for flex-boxes */
.row {
  display: flex;
  flex-wrap: wrap;

}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  width: 100%;
  /* flex: 25%; */
}
/* Left and right column */
.column.left {
  width: 25%;
  order: 1;
  -webkit-order: 1;
}
/* Left and right column */
.column.right {
  width: 25%;
  order: 3;
  -webkit-order: 3;
}
/* Middle column */
.column.middle {
  width: 50%;
  padding-bottom: 90px;
  order: 2;
  -webkit-order: 2;
  /* font-size: 15px; */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}

.projectInfo.left{
  text-align: left;
  padding-bottom: 2px;
}
.projectInfo.left p:nth-child(1){
  /* text-align: left; */
  font-weight: bold;
  padding-bottom: 4px;
  position: relative;
  right: 10px;
}
.projectInfo.right{
  text-align: right;
}

.connectWithMe{
  position: absolute;
  bottom: 60px;
  left:38%;
}




/* Style the footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 040px;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}
/* End styling footer */

hr{
  margin-bottom: 20px;;
}

.column.middle table p{
  font-size: 15px;
}

.portfolio h3{
  padding-bottom: 10px;
}
.portfolio p{
  font-size: 18px; 
}
table {
  width: 100%;
}
td {
  width: 50%;
  padding: 8px;
  font-size: 18px;
  vertical-align: top;
  border-color: rgba(0, 0, 0, 0); 
  border-collapse: collapse;
}
th, td {
  text-align: left;
}




.technicalSkills {
  text-align: left;
  font-size: 15px;
  padding-bottom: 15px;
}





.resourcesTable{
  /* border: 1px solid red; */
  width: 100%;
  /* height: 100%; */
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
}
 /* td:hover {background-color:#f5f5f5;} */
.resourcesTable ul li {
  vertical-align: top;
}
.resourcesSide {
  text-align: left;
  font-size: 18px;
}
li.hum{
  list-style-type: "\1f537";
  padding: 0px 0px 0px 10px;
  font-size: 15px;
}
li.vul{
  list-style-type: "\1f536";
  padding: 0px 0px 0px 10px;
  font-size: 15px;
}
ul.meet{
  /* list-style-type: "\1f536"; */
  margin: 0px 0px 0px 10px;
  font-size: 15px;
}








/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/* On screens that are 601-1024px wide, go from 3 columns to two columns */
@media  screen and (min-width: 671px) and (max-width: 1024px) {
  .column {
    width: 100%;
  }
  .column.left {
    order: 2;
    -webkit-order: 2;
    width: 50%;
  }
  .column.middle {
    order: 1;
    -webkit-order: 1;
    width: 100%;

  }
  .column.right {
    order: 3;
    -webkit-order: 3;
    width: 50%;
  }
  h1{
    color: black;
    font-size: 35px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media  screen and (min-width: 1px) and (max-width: 670px){ 
  .column {
    width: 100%;
  }
  .column.left {
    order: 3;
    -webkit-order: 3;
    width: 100%;
  }
  .column.middle {
    order: 1;
    -webkit-order: 1;
    width: 100%;
  }
  .column.right {
    order: 2;
    -webkit-order: 2;
    width: 100%;
  }
  h1{
    color: black;
    font-size: 25px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }
}




/* Start of react-pdf display in resume */
canvas{
  border: 1px solid black;
}
.react-pdf__Page__canvas{
  margin: 1px auto;
}
.react-pdf__Page__annotations{
  height: 0px;
}

/* .react-pdf__Page {
  width: 360px;
  margin: 1px auto;

}
.react-pdf__Page__annotations{
  height: 0px;
}
canvas{
  border: 1px solid black;
  width: 360px;
}
.react-pdf__Page__canvas{
  width: 360px;

}
.react-pdf__Page__textContent{
  width: 360px;

} */
/* END of react-pdf display on resume */






/* START of TryHackMe & HackTheBox  overlay CSS */
@font-face {
  font-family: "Roboto";
  /* color:red; */
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ubuntumono/v6/ViZhet7Ak-LRXZMXzuAfkY4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
}
#TryHackMe{
  float: left;
}
#HackTheBox{
  float: left;

}
.thm_line a{
  color: white;
}

.thm_line .thm_rank{
  font-family: "Roboto", monospace;
}
.thm_line .thm_nickname {
  font-family: "Roboto", monospace;
}
.thm_line .thm_stat{
  color: white;
  opacity: 0.8;
}
.htb_line a{
  color: rgb(0, 255, 34);
}
#HackTheBox div:nth-child(2){
  float: left;
  padding-top: 2px;
  margin-top:5px;
  border-radius: 5px  !important; 
  height: 56px !important;
  /* width: 245px !important; */
  background-size: 23px 23px;
}


/* END of TryHackMe & HackTheBox overlay CSS */



