.projectInfo.left{
    text-align: left;
    padding-bottom: 2px;
}
.projectInfo.left p:nth-child(1){
    /* text-align: left; */
    font-weight: bold;
    padding-bottom: 4px;
    position: relative;
    right: 10px;
}
/* .projectInfo.right{
    text-align: right;
} */
/* svg path{
    stroke: black; 
    fill: black;
}  */

div.vertical-timeline::before {
    background: #000000;
}

.vertical-timeline-element-content p{
    text-align: left;
}
/* span.vertical-timeline-element-date p{ */
    /* text-align: left; */
    /* font-size: 20px;
    color: rgb(0, 0, 0);
    top: 6px;
    margin: 0;
    font-weight: 900;
} */
span.vertical-timeline-element-date.datess{
    text-align: left;
    font-size: 1.5rem !important;
    color: rgb(0, 0, 0);
    top: -6px !important;
    /* margin: 0; */
    font-weight: 900;
}

/* Icon container's border */
.vertical-timeline-element .vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px #004caf, inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 4px rgba(0, 0, 0, 0.05); /* adds shadow to boarder */
    background: rgb(149, 203, 248);

}
.vertical-timeline-element .vertical-timeline-element-icon svg{
    width: 45px;
    height: 45px;
    left: 33%;
    top: 33%;
}
@media only screen and (max-width: 1170px){
    .vertical-timeline-element .vertical-timeline-element-icon {
        width: 40px;
        height: 40px;
        background: rgb(121, 195, 255);

    }
    .vertical-timeline-element .vertical-timeline-element-icon svg{
        width: 33px;
        height: 33px;
        left: 38%;
        top: 38%;
        z-index: 450;
    }
    .vertical-timeline .vertical-timeline-element--work .vertical-timeline-element-icon .workIcon{
        height: 35px;
        width: 30px;
        left: 43%;
        top: 40%;
    }
}
div.vertical-timeline-element-content {
    /* box-shadow: 0 0 0 4px rgb(228, 228, 228), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); */
    border-left: 3px solid rgb(228, 228, 228);
    border-right: 3px solid rgb(228, 228, 228);
}

.vertical-timeline .vertical-timeline-element--end .vertical-timeline-element-content{
    border-left: none;
    border-right: none;
}

/* each style of Item Content  */
div.vertical-timeline .vertical-timeline-element--research .vertical-timeline-element-content {
    border-top: 3px solid #2196f3;
}
div.vertical-timeline .vertical-timeline-element--education .vertical-timeline-element-content {
    border-top: 3px solid #0042f7;
}
div.vertical-timeline .vertical-timeline-element--work .vertical-timeline-element-content {
    border-top: 3px solid #00ff0d;
}
div.vertical-timeline .vertical-timeline-element--fun .vertical-timeline-element-content {
    border-top: 3px solid #a23fff;
}


/* 

div.vertical-timeline .vertical-timeline-element--fun .vertical-timeline-element-icon .funIcon path:nth-child(1){
    fill: #a23fff;
    stroke:rgb(0, 0, 0);
    stroke-width: 10px;
}
div.vertical-timeline .vertical-timeline-element--fun .vertical-timeline-element-icon .funIcon path:nth-child(2){
    fill: rgb(255, 255, 255);
}
 */




/* vertical-timeline-element-content-arrow element */
.vertical-timeline-element--research .vertical-timeline-element-content .vertical-timeline-element-content-arrow{
    border-right: 12px solid #2196f3;
}
.vertical-timeline-element--education .vertical-timeline-element-content .vertical-timeline-element-content-arrow{
    border-right: 12px solid #0042f7;
}
.vertical-timeline-element--work .vertical-timeline-element-content .vertical-timeline-element-content-arrow{
    border-right: 12px solid #00ff0d;
}
.vertical-timeline-element--fun .vertical-timeline-element-content .vertical-timeline-element-content-arrow{
    border-right: 12px solid #a23fff;
}








.vertical-timeline-element .vertical-timeline-element-content .projectsBlock{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.vertical-timeline-element .vertical-timeline-element-content .projectsBlock-technologies {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #e0e0e0;
    /* color: rgba(0, 0, 0, 0.87); */
    height: 25px;
    white-space: nowrap;
    border: none;
    border-radius: 16px;
    /* outline: none; */
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 2px;
    margin-bottom: 2px;
    font-size: 0.7125rem;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


.projectsBlock-links{
    text-align: right;
}
.vertical-timeline-element .vertical-timeline-element-content .projectsBlock-linksItem {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    border: none;
    border-radius: 6px;
    padding: 2px 8px;
    font-size: 0.7775rem;
    line-height: 1.4em;
    background-color: #e0e0e0;
    margin-right: 2px;
    margin-bottom: 2px;
    outline: none;
}