/* Side Navigation*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;  
  transition: all .5s;
  /* z-index: 3; */

}
  
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  z-index: 199;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 50px;}
  .sidenav a {font-size: 18px;}
}

/* Show and hide side nav */
.show-sidebar {
	/* left: 0px; */
	/* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); */
  /* transition: all .5s; */
  z-index: 199;
  width: 250px;
  opacity: 1;
  pointer-events: auto;
}


/* .sidenav.hide-sidebar { */
  /* left: -300px; */
  /* width: 0px;
  opacity: 0;
  pointer-events: auto; */
	/* clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%); */
	/* transition: all .5s; */
/* } */


 /* burger */
  #menu-icon {
    z-index: 300;
    position: fixed;
    left: 20px;
    height: 50px;
    width: 60px;
    cursor:pointer;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:left; 
  }
#menu-icon:hover {
	cursor: pointer;
}
#menu-icon #hamburger {
  background-color: #22313F;
}
#menu-icon #hamburger {
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 4px;
	width: 50px;
	transition: all .3s;
}
#menu-icon #hamburger:before {
	position:absolute;
	content: '';
	height: 4px;
	width: 40px;
	top: -10px;
	background-color: #22313F;
	transition: all .4s;
}
#menu-icon #hamburger:after {
	position:absolute;
	content: '';
	height: 4px;
	width: 40px;
	top: 10px;
	background-color: #22313F;
	transition: all .3s;
}
#menu-icon:hover #hamburger::after,#menu-icon:hover #hamburger::before {
	width: 45px;
}
#menu-icon:hover #hamburger{
	width: 40px;
}
#menu-icon #hamburger.active{
  background-color: rgba(255, 255, 255, 0);
}
#menu-icon #hamburger.active:before{
  transform: rotate(45deg);
  background-color: #f1f1f1;
	top:0px;
	width: 40px;
}
#menu-icon #hamburger.active:after{
  transform: rotate(135deg);
  background-color: #f1f1f1;

	top:0px;
  width: 40px;	
}
/* /// */







/** Overlay */
.overlay {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/** JS */
.is-visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 150;
}
